body {
  position: relative;
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background-color: #f4f6f7;
  min-height: 1vh;
}
.none {
  display: none !important;
}
.gray {
  color: #aba6a6 !important;
}
.blue {
  color: #227bff !important;
}
body > div:first-child {
  background-color: #f4f6f7;
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  height: 1.76rem;
  font-size: 0.72rem;
  line-height: 1.76rem;
  padding-top: 0.4rem;
  background-color: #fff;
}
header i {
  position: absolute;
  top: 0.88rem;
  left: 0.6rem;
  width: 0.88rem;
  height: 0.88rem;
  background: url(../ico/antOutline-left@2x.png) no-repeat;
  background-size: 100%;
}
article {
  background-color: #f4f6f7;
  font-size: 0.6rem;
}
article .name {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  padding: 0 1.4rem 0 0.6rem;
  background-color: #fff;
  height: 2rem;
}
article .name > div {
  font-size: 0.72rem;
}
article .photo::after,
article .name::after,
article .details li::after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../ico/md-arrow_right@2x.png) no-repeat;
  background-size: 100%;
  margin-right: 0.4rem;
}
article ul.details {
  background-color: #fff;
  padding: 0 0.6rem 0 0.6rem;
}
article ul.details li {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding-right: 0.8rem;
  border-bottom: 0.04rem solid rgba(187, 187, 187, 0.2);
}
article ul.details li:last-child {
  border-bottom: 0;
}
article ul.details li::after {
  margin-right: -0.2rem;
}
footer {
  margin: 1.4rem 0.48rem;
}
footer div {
  background-color: #227bff;
  height: 1.8rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.8rem;
  color: #fff;
  border-radius: 0.2rem;
}
footer div:last-child {
  margin-top: 0.8rem;
}
.invite_box {
  display: flex;
  justify-content: center;
  padding-top: 2.4rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2.16rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.invite_box .invite_details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 12rem;
  height: 18.4rem;
  border-radius: 0.8rem;
  background-color: #fff;
  padding-top: 1.2rem;
  font-size: 0.64rem;
  overflow: hidden;
}
.invite_box .invite_details h4 {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}
.invite_box .invite_details input[type='search'] {
  outline: none;
  height: 1.6rem;
  width: 9.96rem;
  border: 0.04rem solid #bbbbbb;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  margin: 0.6rem 0;
}
.invite_box .invite_details ul {
  width: 10rem;
  border-top: #e5e5e5 solid 0.08rem;
  border-bottom: #e5e5e5 solid 0.08rem;
}
.invite_box .invite_details ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}
.invite_box .invite_details ul li::before {
  box-sizing: border-box;
  font-family: 'icomoon';
  color: #fff;
  content: '\ea10';
  display: block;
  width: 0.56rem;
  height: 0.56rem;
  border-radius: 0.28rem;
  text-align: center;
  line-height: 0.56rem;
  font-size: 0.32rem;
  background-color: #09bb07;
  margin: 0 0.4rem;
}
.invite_box .invite_details .invite_buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.invite_box .invite_details .invite_buttons input {
  box-sizing: border-box;
  width: 50%;
  height: 1.6rem;
  border: 0;
  color: white;
}
.invite_box .invite_details .invite_buttons input:first-child {
  background-color: red;
}
.invite_box .invite_details .invite_buttons input:last-child {
  background-color: #227bff;
}
