body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  min-height: 1vh;
  background-color: #f4f6f7;
}
.none {
  display: none !important;
}
body > div:first-child {
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  height: 1.76rem;
  font-size: 0.72rem;
  line-height: 1.76rem;
  padding-top: 0.4rem;
  background-color: #fff;
}
header i {
  position: absolute;
  top: 0.88rem;
  left: 0.6rem;
  width: 0.88rem;
  height: 0.88rem;
  background: url(../ico/antOutline-left@2x.png) no-repeat;
  background-size: 100%;
}
footer {
  margin: 1.4rem 0.48rem;
  position: fixed;
  bottom: 0;
}
footer div:last-child {
  background-color: #227bff;
  height: 1.8rem;
  width: calc(15rem - 2 * (12rem/25));
  margin-top: 1.2rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.8rem;
  color: #fff;
  border-radius: 0.2rem;
}
footer ul {
  font-size: 0.64rem;
  background-color: #fff;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
footer ul li {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  line-height: 2.4rem;
  padding-right: 0.8rem;
  border-bottom: 0.04rem solid rgba(187, 187, 187, 0.2);
}
footer ul li:last-child {
  border-bottom: 0;
}
footer ul li::after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../ico/md-arrow_right@2x.png) no-repeat;
  background-size: 100%;
  margin-right: 0.4rem;
}
