@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?pzejzu');
  src: url('../fonts/icomoon.eot?pzejzu#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?pzejzu') format('truetype'), url('../fonts/icomoon.woff?pzejzu') format('woff'), url('../fonts/icomoon.svg?pzejzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
.active {
  color: #227bff;
}
html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background-color: white;
  min-height: 1vh;
}
.none {
  display: none !important;
}
body > div:first-child {
  background-color: #fff;
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  height: 1.76rem;
  line-height: 1.76rem;
  border-bottom: 0.12rem solid #e5e5e5;
  padding-top: 0.4rem;
}
header i {
  position: absolute;
  font-size: 0.64rem;
  color: #227bff;
  right: 0.6rem;
  padding: 0 0.4rem;
}
article .content .box {
  height: 2.72rem;
  display: flex;
  align-items: center;
  border-bottom: 0.08rem solid #e5e5e5;
}
article .content .box img {
  box-sizing: border-box;
  margin-left: 0.4rem;
  width: 2rem;
  height: 2rem;
}
article .content .box .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4rem;
}
article .content .box .details span {
  font-size: 0.68rem;
}
article .content .box .details p {
  font-size: 0.56rem;
}
article .content .box i {
  font-size: 0.48rem;
  font-style: normal;
  padding-right: 0.4rem;
  color: #b2b2b2;
}
article .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6.4rem;
}
article .empty p {
  font-size: 0.56rem;
}
article .empty div {
  width: 7.8rem;
  height: 6.96rem;
  background: url(../ico/empty_message@2x.png) no-repeat;
  background-size: 100%;
}
article::after {
  content: '';
  display: block;
  height: 2.4rem;
}
footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 15rem;
}
footer ul {
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.56rem;
  color: #c2c2c7;
}
footer ul li {
  padding: 0 0.4rem;
  text-align: center;
}
footer ul li::before {
  font-family: 'icomoon';
  font-size: 1rem;
  text-align: center;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}
footer ul li:nth-child(1)::before {
  content: '\e900';
}
footer ul li:nth-child(2)::before {
  content: '\e96c';
}
footer ul li:nth-child(3)::before {
  content: '\e971';
}
