@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?pzejzu');
  src: url('../fonts/icomoon.eot?pzejzu#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?pzejzu') format('truetype'), url('../fonts/icomoon.woff?pzejzu') format('woff'), url('../fonts/icomoon.svg?pzejzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
.active {
  color: #227bff;
}
html {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background-color: #f4f6f7;
  min-height: 1vh;
}
.none {
  display: none !important;
}
.gray {
  color: #aba6a6 !important;
}
.blue {
  color: #227bff !important;
}
body > div:first-child {
  background-color: #f4f6f7;
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  height: 1.76rem;
  font-size: 0.72rem;
  line-height: 1.76rem;
  padding-top: 0.4rem;
  background-color: #fff;
}
header i {
  position: absolute;
  top: 0.88rem;
  left: 0.6rem;
  width: 0.88rem;
  height: 0.88rem;
  background: url(../ico/antOutline-left@2x.png) no-repeat;
  background-size: 100%;
}
article {
  background-color: #f4f6f7;
  font-size: 0.6rem;
}
article .photo {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  padding: 0 1.4rem 0 0.6rem;
  background-color: #fff;
  height: 3.6rem;
}
article .photo > div {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  overflow: hidden;
}
article .photo > div img {
  width: 2.2rem;
  margin-top: -25%;
}
article .account {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  padding: 0 1.4rem 0 0.6rem;
  background-color: #fff;
  height: 2rem;
}
article .photo::after,
article .account::after,
article .details li::after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../ico/md-arrow_right@2x.png) no-repeat;
  background-size: 100%;
  margin-right: 0.4rem;
}
article ul.details {
  background-color: #fff;
  padding: 0 0.6rem 0 0.6rem;
}
article ul.details li {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  padding-right: 0.8rem;
  border-bottom: 0.04rem solid rgba(187, 187, 187, 0.2);
}
article ul.details li:last-child {
  border-bottom: 0;
}
article ul.details li::after {
  margin-right: -0.2rem;
}
footer {
  margin: 1.4rem 0.48rem;
}
footer div {
  background-color: #227bff;
  height: 1.8rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.8rem;
  color: #fff;
  border-radius: 0.2rem;
}
