body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  min-height: 1vh;
  background-color: #f4f6f7;
}
.none {
  display: none !important;
}
body > div:first-child {
  overflow: hidden;
}
header {
  position: relative;
  text-align: center;
  height: 1.76rem;
  font-size: 0.72rem;
  line-height: 1.76rem;
  padding-top: 0.4rem;
  background-color: #fff;
}
header i {
  position: absolute;
  top: 0.88rem;
  left: 0.6rem;
  width: 0.88rem;
  height: 0.88rem;
  background: url(../ico/antOutline-left@2x.png) no-repeat;
  background-size: 100%;
}
